@import "~src/variables";

:host {
  @include expand-full();
}

.app-container {
  @include expand-full();
  @include set-flex($direction: column, $justify: center, $align: stretch);

  .supported-container {
    flex: 1;
    @include set-flex($direction: column, $justify: flex-start, $align: stretch);

    app-header-nav {
      position: fixed;
      top: 0;
      width: 100%;
    }

    .main-container {
      flex: 1;
      @include set-flex($direction: column, $justify: center, $align: center);
      margin-top: $app-header-navbar-main-height;

      app-loading-progress-bar {
        z-index: 9;
        position: fixed;
        top: 0;
        width: 100%;
      }
    }
  }

  .unsupported-container {
    flex: 1;
    display: none;
  }
}

@media screen and (max-width: map-get($container-max-widths, md)) {
  .app-container {
    .supported-container {
      display: none;
    }

    .unsupported-container {
      @include set-flex($direction: column, $justify: center, $align: stretch);
    }
  }
}


