@import "~src/variables";

:host {
  width: 100%;
  flex: 1;
  @include set-flex($direction: column, $justify: flex-start, $align: stretch);
}

:host ::ng-deep .wallet-management-page-container {
  flex: 1;
  @include set-flex($direction: column, $justify: flex-start, $align: stretch);
  margin-top: 15px;
  margin-bottom: 15px;
}
