@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,600,700';
@import 'https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700';
@import 'https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,600,700';

// Setup breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 414px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1920px
);

$container-max-widths: (
  xs: map-get($grid-breakpoints, sm),
  sm: map-get($grid-breakpoints, md),
  md: map-get($grid-breakpoints, lg),
  lg: map-get($grid-breakpoints, xl),
  xl: map-get($grid-breakpoints, xxl),
  xxl: 2560px
);

// Setup size components
$app-header-navbar-main-height: 65px;

// Setup color
$color-primary: #4F4D8C;
$color-primary-mask: #8F8EBF;
$color-primary-light: #5F5DA6;
$color-primary-light-opa-15: rgba(95, 93, 166, 0.15);
$color-primary-dark: #2E4159;
$color-on-primary: #fff;

$color-background: #fff;

$color-on-background: #000;
$color-on-background-soft-dark: #262626;
$color-on-background-gray: #435358;
$color-on-background-gray-light: #7C8183;
$color-on-background-gray-dark: #4C5C6B;

$color-focus-primary: #673ab7;
$color-focus-gray: #c0c8ce;

$color-danger: #D32F2F; //


// Setup font family
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Poppins', sans-serif;
$font-family-tertiary: 'Montserrat', sans-serif;
$font-family-quaternary: 'Open Sans', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;

//Function and mixin
@mixin outline-focus($color: $color-focus-primary, $width: 2px) {
  outline: $width solid $color;
}

@mixin reset-button() {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@mixin set-icon-size($size: 24px) {
  width: $size;
  height: $size;
  font-size: $size;
  line-height: $size;
}

@mixin set-icon-button-size($btn-size: 24px, $icon-size: 16px) {
  width: $btn-size;
  height: $btn-size;
  font-size: initial;
  line-height: initial;
  padding: 0;
  margin: 0;

  .icon, .mat-icon {
    @include set-icon-size($icon-size);
  }
}

@mixin set-flex($direction: row, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin expand-full {
  width: 100%;
  height: 100%;
}
