@import '~src/variables';

:host ::ng-deep .sending-coin-form-container {
  form {
    @include set-flex($direction: row, $justify: flex-start, $align: flex-end);

    > * {
      display: block;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    input {
      font-family: $font-family-tertiary;
      font-size: 13px;
      padding: 8.85px 10px;

      &.address-input {
        min-width: 450px;
      }

      &.amount-input {
        min-width: 100px;
      }
    }

    button {
      font-family: $font-family-primary;
      font-size: 13px;
      padding: 8.5px 10px;
      color: $color-primary-dark;

      &:active {
        @include outline-focus($color-focus-gray);
      }

      &:hover {
        color: $color-on-primary !important;
        background-color: $color-primary-overlay !important;
      }
    }
  }
}
