@import "~src/variables";

:host {
  flex: 1;
  @include set-flex(column, flex-start, stretch);
}

:host ::ng-deep .detail-block-table-container {
  flex: 1;
  width: 100%;
  min-height: 500px;
  @include set-flex(column, flex-start, stretch);

  .p-datatable-tbody, .p-datatable-thead {
    & > tr {
      @include set-flex(row, flex-start, stretch);

      td, th {
        min-width: 125px;

        &.img {
          width: 100px;
          min-width: initial;
          padding: 10px 5px;

          i {
            font-size: 15px;
            color: white;
            background: $color-border-gray-dark;
            padding: 9.5px;
            border-radius: 50px;
          }
        }

        &.idx {
          flex: 2;
          @include set-flex(column, flex-start, flex-start);

          .idx {
            margin-bottom: 2.5px;
          }

          .time-ago {
            font-size: 12.5px;
            color: $color-on-background-gray;
          }
        }

        &.hash, &.miner {
          flex: 3;
        }

        &.award, &.txs {
          flex: 1;
        }

        &.difficulty, &.nonce {
          flex: 1.5;
        }

        &.hold {
          flex: 2;
        }
      }

      td {
        flex: initial;
        display: flex !important;
        align-items: center;
      }
    }
  }
}
