@import "~src/variables";

:host ::ng-deep .mlemscan-p2p-management-page-component {
  margin-top: 10px;

  .add-new-peer-form {
    @include set-flex(row, flex-start, flex-end);
    position: relative;
    font-family: $font-family-tertiary;

    & > *:not(:last-child) {
      margin-right: 15px;
    }

    .p-field {
      & * {
        display: block;
      }

      label {
        margin-bottom: 2.5px;
        font-size: 12px;
        color: $color-on-background-gray-dark;
      }

      input {
        padding: 10.5px 15px;
        font-size: 14px;
      }
    }

    .add-peer-btn {
      font-family: $font-family-tertiary;
      font-size: 12px;
      padding: 7.5px 13.5px;
      background-color: $color-primary-light;
      color: $color-on-primary;
      border-radius: 2.5px;

      &:active {
        @include outline-focus($color-focus-gray);
      }

      &:hover {
        background-color: $color-primary;
      }
    }
  }

  .p2p-table-container p {
    margin-top: 25px;
    color: $color-danger;
    font-family: $font-family-mono;
    font-size: 14px;
  }
}
