<div class='mlemscan-p2p-management-page-component'>
  <form class='add-new-peer-form'>
    <span class='p-field'>
      <label for='address-input'>Address</label>
      <input type='text' id='address-input' pInputText placeholder='Address Remote' />
    </span>

    <span class='p-field'>
      <label for='port-input'>Port</label>
      <input type='text' id='port-input' pInputText placeholder='Port' />
    </span>

    <button pButton type='submit' class='add-peer-btn p-button'>Add Peer</button>
  </form>

  <div class='p2p-table-container'>
    <p>In development</p>
  </div>
</div>
