@import "~src/variables";

:host {
  flex: 1;
  width: 100%;
}

:host ::ng-deep .mlemscan-dashboard-page-container {
  @include expand-full();
  @include set-flex($direction: column, $justify: flex-start, $align: stretch);

  .options-btn-group {
    display: flex;
    justify-content: flex-end;

    & > *:not(:last-child) {
      margin-right: 10px;
    }

    a {
      font-family: $font-family-tertiary;
      font-size: 12.5px;
      padding: 8.5px 12.5px;
      background-color: $color-primary-light;
      transition: color 0s ease;
      color: $color-on-primary;
      text-decoration: none;
      border-radius: 5px;

      &:active {
        @include outline-focus($color-focus-gray);
      }

      &:hover {
        background-color: $color-primary;
      }
    }
  }

  .summary-tables-container {
    flex: 1;
    @include set-flex($direction: row, $justify: space-between, $align: stretch);
    margin-top: 25px;

    & > * {
      flex: 1;
      max-height: 500px;
    }

    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }
}
