@import "~src/variables";

:host {
  flex: 1;
  @include set-flex(column, flex-start, stretch);
}

:host ::ng-deep .mlemscan-transaction-pool-page-container {
  flex: 1;
  width: 100%;
  @include set-flex(column, flex-start, stretch);
  padding-top: 20px;
}
