@import "~src/variables";

:host {
  flex: 1;
  @include set-flex(column, flex-start, stretch);
}

:host ::ng-deep .mlemscan-transaction-pool-page-container {
  flex: 1;
  width: 100%;
  min-height: 500px;
  padding-top: 20px;

  .p-datatable-tbody, .p-datatable-thead {
    & > tr {
      td, th {
        &.img {
          padding: 10px 5px;

          i {
            font-size: 15px;
            color: white;
            background: $color-border-gray-dark;
            padding: 9.5px;
            border-radius: 50px;
          }
        }
      }

      td {
        &.type p {
          margin-top: 5px;
          font-size: 10px;
          padding: 3.5px 7.5px;
          background-color: $color-primary-mask;
          color: $color-on-primary;
          border-radius: 2px;
          display: inline-block;
        }
      }
    }
  }
}
