<div class='mlemscan-wallet-tracker-page-container'>
  <app-detail-styling-table>
    <p-table [value]='dataSourceFiltered'
             [paginator]='true'
             [rows]='15'
             [showCurrentPageReport]='true'
             responsiveLayout='scroll'
             currentPageReportTemplate='Showing {first} to {last} of {totalRecords} wallets'
             styleClass='p-datatable-striped'
    >
      <ng-template pTemplate='caption'>
        <p class='caption'>Wallet Tracker</p>
        <div class='filter-actions'>
          <span class='p-input-icon-left search-input'>
            <i class='pi pi-search'></i>
            <input
              pInputText
              type='text'
              placeholder='Search address'
              (input)='search()'
              #addressSearch
            />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate='header'>
        <tr>
          <th class='img'>Wallet</th>
          <th class='address'>Address</th>
          <th class='balance' pSortableColumn='balance'>
            Balance
            <p-sortIcon field='balance'></p-sortIcon>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate='body' let-wallet>
        <tr>
          <td class='img'>
            <i class='pi pi-money-bill'></i>
          </td>
          <td class='address'>
            <p><a href='#'>{{wallet.address | truncate:20}}</a></p>
          </td>
          <td class='balance'>
            <p>{{(wallet.balance || 0) | shortNumber:10}} coins</p>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate='emptymessage'>
        <tr class='empty-data'>
          <td [attr.colspan]='3'>
            <img [src]='AppSrcAssetsConstant.EMPTY_DATA_CAT_3' alt='empty'>
            <p>Empty data or Something went wrong</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </app-detail-styling-table>
</div>

